.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.formField {
  display: flex;
  gap: 10px;
}

.formName {
  display: flex;
  gap: 26px;
}

.label {
  font-weight: bold;
}

.inputField {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.buttonSubmit {
  font-weight: bold;
}
