body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #3b5497; /* Змінений колір фону */
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff; /* Основний колір для посилань */
  transition: color 0.3s, background-color 0.3s;
  padding: 4px 8px;
  border-radius: 4px;
}

a:hover {
  color: #fff; /* Білий текст при ховері */
  background-color: #0056b3; /* Фон при ховері */
}

ul,
ol {
  list-style: none;
  padding: 0; /* Додаємо padding для коректного відображення списків */
  margin: 0; /* Додаємо margin для коректного відображення списків */
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  color: #fff; /* Білий текст */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Додаємо тінь для тексту */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #646cff; /* Змінено на основний колір теми */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #535bf2; /* Темніший колір при ховері */
  transform: scale(1.05);
}
